/* Styles for the navigation bar */
nav {
  top: 0;
  z-index: 1000;
  background: linear-gradient(180deg, #555 0%, #222 45%, #000 53%, #222 100%);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Styles for the active navigation item */
.active {
  font-weight: bold;
}

/* Styles for the logout icon */
.logout-icon {
  font-size: 20px;
}

/* Styles for the cart icon */
.cart-icon {
  font-size: 22px;
}
